.App {
  text-align: center;
}
/***** Particles component styling *****/
.particles {
  position: fixed; /* position fixed to the viewport */
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: -1; /* elements with z-index of -1 will be displayed behind others */
}