.App {
  text-align: center;
}

.centerFlex{
  display: flex;
  justify-content: center;
}

/***** Particles component styling *****/
.particles {
  position: fixed; /* position fixed to the viewport */
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: -1; /* elements with z-index of -1 will be displayed behind others */
}

/**** Styling FaceRecognition image to be responsive (width and height)****/
.image {
	padding: 30px;
	width: 500px;
 	height: auto;
}