body {
	margin: 0;
  	font-family: sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	/*background-image: radial-gradient( circle farthest-corner at 6.6% 12%,  rgba(64,0,126,1) 20.8%, rgba(0,255,160,1) 100.2% );*/
	background: rgb(97,94,164);
	background: linear-gradient(174deg, rgba(97,94,164,1) 30%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%); 
  	background-attachment: fixed; 
}

code {
  	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
   monospace;
}
